{% extends 'my_face/base.html' %} {% block body %}
<div class="row">
   {% for user in users %}
   <div class="col-sm-4 mb-3">
      <div class="card">
         <div class="card-body">
               <img src="" alt="">
            <div class="d-flex justify-content-end">
               <p class="mr-2">
                  {% if user.id in followings %}
                  <a href="{% url 'my_face:unfollow' follower_id=request.session.user_id following_id=user.id %}" class="btn btn-warning btn-sm">Unollow</a>
                  {% else %}
                  <a href="{% url 'my_face:follow' follower_id=request.session.user_id following_id=user.id %}" class="btn btn-success btn-sm">Follow</a>
                  {% endif %}
            </div>
            <h5 class="card-title"> <a href="{% url 'my_face:wall' user_id=user.id %}">{{user.full_name}}</a></h5>
            <p class="card-text">{{user.updated_at}}</p>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}