{% extends 'my_face/base.html' %} {% block body %}

<form action="{% url 'my_face:create_post' %}" method="POST">
   <div class="form-group">
      {% csrf_token %}
      <input type="hidden" name="post_to_user_id" value="{{ request.session.user_id }}">
      <textarea name="content" class="form-control" rows="3"></textarea>
   </div>
   <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-success">Post</button>
   </div>
</form>
<hr>
<!-- POST -->
<div class="row">
   {% for post in posts %}
      {% include 'my_face/post/post.html' %}
   {% endfor %}
</div>

{% include 'my_face/errors.html' %} {% endblock %}